*{
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
    color: #0F1035;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F87537;
    
    justify-content: space-between;
    
}
#ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

a{
    text-decoration: none;
    color: black;
}
.name{
    margin-left: 8px;
    font-weight: 900;
    font-size: 22px;
}
#name-span{
    background: linear-gradient(to right , #FBA81F 0% , #F87537 100%);
    background-clip: text;
    color: transparent;
}
.hero{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.down-cv{
    width: 150px;
    height: 35px;
    margin-top: 50px;
    font-size: 20px;
    color: #0F1035;
}
#text-cv{
    display: flex;
    justify-content: center;
    font-weight: 900;
    background: linear-gradient(to right, #FBA81F 0% , #F87537 100%);
    background-clip: text;
    color: transparent;
}
.herosize{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    
}
.herosize1{
    flex-direction: column;
}
.proj-details{
    margin-left: 50px;
    margin-bottom: 20px;
}

.edu{
    width: 100%;
    height: 1950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edu-container{
    width: 80%;
    height: 650px;

}
.edu-container a{
    margin-left: 30px;
}

.about-edu{
    width: 90%;
    height: 90%;
    
}
iframe{
    width: 1200px;
    height: 400px;
    
}
.contact-me{
    background-color: #fab443;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
}

#con-form{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
input{
    height: 30px;
    width: 250px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    border-bottom:2px solid black ;
    background-color: #fab443;
}

.btn{
    width: 90px;
    margin-top: 5px;
}
.social{
 
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.social-link{
    filter: grayscale(100%);
}
.social-link:hover{
    filter: grayscale(0%);
}
#education{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.education{
    padding-top: 10px;
    width: 20%;
    height: 250px;
    background-color: rgba(225, 225, 225,0.5);
    border-radius: 10px;
}
.education-details{
    margin-top: 30px;
    text-align: start;
    list-style: none;
    
}
.inner-education-details{
    margin-top: 5px;
}
@media (max-width: 600px) {

    .hero{
      
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 700px;
    }
    .herosize{
        font-size: 1rem;
    }
    .herosize2{
   
        
        margin-left: 30px ;
    
    }
    .edu{
       
        width: 100%;
        height: 800px;
        
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .edu-container{
        height: 250px;

    }
    .contact-me{
        height: 400px;
    }
    
#con-form{
    width: 100%;
    height: 800px;
    flex-direction: column;
}

}